
  {{#each this.dta}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <div class="card"> 

            <div class="user_info">
              <div class="dp no-padding no-margin"><img src={{avatar}}></div>
              <div class="profile_name">{{username}}</div>
            </div>

            <div class="content">
              <div id="story_image"><img src={{image}}></div>
            </div>

            <div class="caption">
              {{caption}}
            </div>

            <div class="art_tag">
              <div class="chip">
                <i class="close material-icons">{{category}}</i>
              </div>
            </div>
            <div class="ratings" >
              <form method="post" action="/users/star"> 
                <input class="star star-5" id="{{serial}}-5" type="radio" onclick="this.form.submit()" name="5" value="{{serial}}"/>
                  <label class="star star-5" for="{{serial}}-5" ></label> 
                <input class="star star-4" id="{{serial}}-4" type="radio" onclick="this.form.submit()" name="4" value="{{serial}}"/>
                  <label class="star star-4" for="{{serial}}-4"></label>
                <input class="star star-3" id="{{serial}}-3" type="radio" onclick="this.form.submit()" name="3" value="{{serial}}"/>
                  <label class="star star-3" for="{{serial}}-3"></label>
                <input class="star star-2" id="{{serial}}-2" type="radio" onclick="this.form.submit()" name="2" value="{{serial}}"/>
                  <label class="star star-2" for="{{serial}}-2"></label>
                <input class="star star-1" id="{{serial}}-1" type="radio" onclick="this.form.submit()" name="1" value="{{serial}}"/>
                  <label class="star star-1" for="{{serial}}-1"></label>
                </form>  
            </div>
          </div>  
      </div>
    </div>
  {{/each}}
